* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    padding-left: 50px;
    padding-top: 20px;
    height: 70%;
    display: flex;
}
header{
    display: flex;
    align-items: center;
    padding-left: 10px;
    height: 7%;
    background-color: rgb(210, 210, 210);
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
button{
    height: 40px;
    width: 100px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}
input{
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    border: none;
    height: 25px;
    border-radius: 20px;
}
iframe {
    height: 100%;
    width: 100%;
}
footer{
    width: 100%;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    bottom: 0;
    padding-right: 20px;
    height: 23%;
    background-color: rgb(209, 209, 209);
}
img{
    height: 200px;
    width: 320px;
    margin-left: 40px;
    border-radius: 15px;
}
.ikon{
    height: 60px;
    border-radius: 50px;
    width: 60px;
}
.block{
    display: flex;
    width: 400px;
    flex-direction: column;
}
.dsp{
    width: 50%;
    margin-left: 15px;
}
.unik{
   margin-left: 0px;
   margin-top: 0px;
   border: 1px solid gray;
   width: 120px;
   height: 120px;
   border-radius: 100px;
}
.chanl{
    padding-top: 10px;
    align-items: center;
    display: flex;
}
h2{
    margin-left: 10px;
}
p{
    font-size: 25px;
    margin-top: 5px;
}
.frm {
    height: 80%;
    width: 50%;
}
.inf{
    padding-top: 10px;
    align-items: center;
    display: flex;
}
h4{
    font-size: 20px;
    margin-left: 10px;
}
.mosh {
    font-size: 30px;
}
.zogolovVidio {
  font-size: 50px;
}
.OpicanieVidio {
    font-size: 30px;
}