*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
header{
    height: 400px;
    background-color: rgb(195, 43, 226);
    width: 100%;
}
.popup-btn{
    height: 53px;
    width: 229px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(107, 31, 154);
    margin-top: 60px;
}
.head_h1{
    padding-top: 80px;
    display: flex;
    justify-content: center;
}
.div_from_button{
    width: 100%;
    display: flex;
    justify-content: center;
}
h1{
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
}
.head_p{
    display: flex;
    justify-content: center;
}
.head_p2{
    display: flex;
    justify-content: center;
}
.main_p{
    line-height: 1.5;
    font-size: large;
}
main{
    padding-top: 80px;
    padding-left: 100px;
    padding-right: 100px;
    
}
.call_back_list{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 32, 32, 0.739);
    opacity: 0;
    visibility: hidden;
    transition: .8s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pud_of_popaup{
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 30%;
    height: 25%;
    background-color: white;
}
.modal_zg{
    font-size: 250%;
    margin-bottom: 10px;
}
.str_1{
    display: flex;
    justify-content: end;
    width: 100%;
}
.str_2{
    width: 100%;
}
.str_3{
    width: 100%;
}
.button_to_close{
   width: 20%;
   border: none;
   background-color: white;
}
.cls{
    width: 20%;
}