
.tabs button{
    border: none;
    width: 10%;
    padding: 50px;
    cursor: pointer;
    font-size: 50px;
    background-color: rgb(225, 225, 225);
    transition: 0.3s;
}
.tabs button:hover{
    background-color: rgb(195, 195, 195);
}
.active{
    visibility: visible;
}
.noactive{
    visibility: hidden;
    opacity: 0;
    position: fixed;
}
.contain{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    border: 2px solid gray;
}
.tabs{
    background: rgb(225, 225, 225);
}
.spic div{
    padding: 10px;
    width: 80%;
    
}
h2{
    font-size: 60px;
    
}
.nach{
    font-size: 30px;
}
.spic{
    width: 100%;
    height: 500px;
    border-top: 2px solid gray;
}